%h1 Edit the status for #{@coderetreat.location}

-@coderetreat.available_next_statuses.each do |status|
  =form_for @coderetreat, url: coderetreat_status_path(@coderetreat, new_status: status), method: "put" do |f|
    =f.submit status.titleize
