%h2 There are no coderetreats running today

%section.coderetreats.not_started
  %header
    %h2 Not Started
  %ul
    %li.coderetreat Chicago
    %li.coderetreat Seattle
%section.coderetreats.in_session
  %header
    %h2 In Session
  %ul
    %li.coderetreat Berlin

